body {
background-color:#F7F0DB;
}

#container {
margin:0 auto;
width:1024px;;
}

#header {
margin:0 auto;
width:1024px;
height:252px;
background:transparent url(../images/header_bg.jpg) no-repeat;
}


/************ navigation begins **********/

.wireframeauramenu{
font-weight: bold;
font-size: 100%;
width: 100%;
height:50px;
background-color:#355F43;
}

.wireframeauramenu ul{
border: 1px solid #52300F;
padding: 15px 0;
margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
overflow: hidden;
}

.wireframeauramenu ul li{
display: inline;
}

.wireframeauramenu ul li a{
color: #ffffff;
padding: 6px 16px 6px 12px;
margin: 0;
text-decoration: none;
border-right: 0px solid #52300F; /*right border between menu items*/
}

.wireframeauramenu ul li a:hover{
color:#CBC9A0;
}
/************ navigation ends **********/






/************ flash imgs begins **********/
#flash_imgs {
margin:0px;
padding:0px;
width:1024px;
white-space:nowrap;
float:left;
display:block;
}

table, tr, td {
white-space:nowrap;

}
/************ flash imgs ends **********/







#content {
margin:0 auto;
width:1024px;
background: transparent url('../images/content_bg.png') repeat-y;
}

#gallery {
margin:0 auto;
width:1004px;
background-color:#CBC9A0;
padding:10px 10px 10px 10px;
}

#gallery p {
font: 14px Georgia, "Times New Roman", Times, serif;
color:#3B460A;
text-align:right;
}
 
 #gallery img {
 margin:0 auto;
 text-align:center;
 margin:0 auto;
 border:1px solid #FFFFFF;
 }

#left_side {
float:left;
width:500px;
padding:0px 10px 60px 80px;
}

#left_side h1 {
margin:0 auto;
width:100%;
margin-left:30px;
padding:20px 0px 0px 0px;
font: 18px Georgia, "Times New Roman", Times, serif;
color:#3B460A;
letter-spacing:2px;
font-weight:bold;
border-width:100%;
}

#left_side p {
margin:0 auto;
width:500px;
font: 14px Georgia, "Times New Roman", Times, serif;
color:#3B460A;
letter-spacing:2px;
font-style:italic;
padding:10px 20px 10px 30px;
}

#right_column {
float:right;
width:300px;
margin:10px 100px 60px 0;
border-left:1px dashed #52300F;
}

#right_column h1 {
margin:0 auto;
width:170px;
padding:10px 30px 10px 10px;
text-align:left;
border-bottom:1px solid #52300F;
border-top:1px solid #52300F;
margin-top:20px;
text-decoration:underline;
}

#right_column p {
margin:0 auto;
width:260px;
font: 12px Georgia, "Times New Roman", Times, serif;
color:#3B460A;
letter-spacing:2px;
font-style:italic;
padding:10px 0 10px 50px;
font-weight:bold;
}

#right_column a {
color:#355F43;
text-decoration:none;
}

#right_column a:hover {
color:#ffffff;
}

#submission_form {
float:left;
font: 12px Georgia, "Times New Roman", Times, serif;
color:#3B460A;
letter-spacing:2px;
font-style:italic;
padding:20px 0 60px 120px;
clear:both;
width:800px;
}


#footer {
margin:0 auto;
width:1024px;
clear:both;
height:50px;
background-color:#355F43;
}

#footer p {
margin:0 auto;
width:1024px;
font: 12px Georgia, "Times New Roman", Times, serif;
color:#ffffff;
letter-spacing:2px;
padding:20px 10px 10px 10px;
text-align:center;
}

#footer a:hover{
color:#CBC9A0;
}

#footer a{
color:#ffffff;
}